logger/search-app/API_keys.json
logger/search-app/test.ipynb
logger/search-engine/API_keys.json
# logger/search-engine/datasets/
logger/old_logs/
experiments/data/corpus

__pycache__/
.venv/
.pytest_cache/
experiments/testfile.ipynb
logger/search-engine/test.ipynb
# Local generated logs
logger/logs/*
logger/logs-v2/
logger/research-state/
logger/research-secrets/
logger/search-app/logs_v2/
logger/search-app/research_state/
logger/search-app/flask_session/

# unsused document collections
logger/search-engine/datasets/kid-friend-en/
logger/search-engine/datasets/argsme.zip
logger/search-engine/datasets/CLEAR Corpus 6.01.xlsx

# Local secrets
*.env
logger/search-app/service_account.json
logger/search-engine/service_account.json
logger/search-app/API_keys.json
logger/search-engine/API_keys.json

# macOS
.DS_Store
**/.DS_Store
