{% extends "layout.html" %}
{% block content %}
<div class="home-search-center">
    <div class="home-search-title">Search</div>

    <form method="POST" action="{{ url_for('result') }}" id="search-bar" class="home-search-form">
        {{ form.hidden_tag() }}
        <input
            type="search"
            name="query"
            id="search-box"
            placeholder="Search..."
            aria-label="Search"
            autocomplete="off">
        <button type="submit" name="submit-box" id="submit-box">Search</button>
    </form>
</div>
{% endblock content %}