{% extends "layout.html" %}
{% block content %}
<div class="home-search-center">
    <div class="home-search-title">
      <span style="color:#4285F4">S</span><span style="color:#EA4335">O</span><span style="color:#FBBC05">L</span> <span style="color:#4285F4">S</span><span style="color:#EA4335">e</span><span style="color:#FBBC05">a</span><span style="color:#4285F4">r</span><span style="color:#34A853">c</span><span style="color:#EA4335">h</span>
    </div>

    <form method="POST" action="{{ url_for('result') }}" id="search-bar" class="home-search-form">
        {{ form.hidden_tag() }}
        <input
            type="search"
            name="query"
            id="search-box"
            placeholder="Cerca..."
            aria-label="Cerca"
            autocomplete="off">
        <button type="submit" name="submit-box" id="submit-box">Cerca</button>
    </form>
</div>
{% endblock content %}