{% extends "layout.html" %}
{% block title %}Task{% endblock %}
{% block content %}

<h2>Task {{ task_number }}: {{ topic_title }}</h2>
<p>Immagina di dover scrivere un saggio di opinione sul seguente argomento:</p>
<p><b>{{ topic }}</b></p>
<p>Un saggio di opinione presenta il tuo punto di vista personale su un tema e lo sostiene con ragionamenti chiari, considerando anche gli argomenti dell’altra parte.</p>
<p>Per prepararti, il tuo compito è raccogliere argomenti che <b>supportino e mettano in discussione</b> la tua posizione. Questo ti aiuterà a presentare le tue idee in modo chiaro affrontando anche le possibili controargomentazioni.</p>
<p>Cerca argomenti convincenti, ben ragionati e che affrontino diverse prospettive, come quelle sociali, etiche, legali o pratiche. Cerca di trovare <b>più argomenti</b> invece di fermarti al primo punto rilevante che incontri. Non devi necessariamente essere d’accordo con tutti gli argomenti che trovi; l’obiettivo è sviluppare una comprensione completa del tema.</p>
<p>Usa il sistema di ricerca per esplorare e individuare argomenti rilevanti. <b>Segna gli argomenti rilevanti</b> usando i pulsanti “pro” e “contro” a destra di ogni argomento.</p>
<p>Hai 10 minuti per questo compito. Una volta terminato, o quando il tempo scade, clicca il pulsante “Fine compito” per procedere.</p>
<p></p>
  <div id="task-wrapper"
       data-user-id="{{ user_id }}"
       data-task-num="{{ task_number }}"
       data-topic="{{ topic }}">
  </div>
<form action="{{ url_for('home') }}" method="get">
  <button id="task-btn" type="submit" class="btn btn-primary">Continua</button>
</form>
{% endblock %}
